{
  "openapi": "3.0.3",
  "info": {
    "title": "Liki API",
    "description": "灵机（Liki）AI命理助手 — 八字排盘、紫微斗数、奇门遁甲、智能起名、六爻、黄历、风水等命理服务 API。\n\n所有 POST 接口请求/响应均为 JSON。\n成功：`{\"data\":{...}}`\n错误：`{\"error\":{\"code\":\"...\",\"message\":\"...\"}}`",
    "version": "1.1.0"
  },
  "servers": [
    {"url": "https://liki.hk", "description": "生产"},
    {"url": "http://localhost:8080", "description": "本地开发"}
  ],
  "tags": [
    {"name": "bazi", "description": "八字命理"},
    {"name": "ziwei", "description": "紫微斗数"},
    {"name": "qiming", "description": "智能起名"},
    {"name": "qimen", "description": "奇门遁甲"},
    {"name": "huangli", "description": "黄历择日"},
    {"name": "fengshui", "description": "风水"},
    {"name": "liuyao", "description": "六爻占卜"},
    {"name": "agent", "description": "AI 对话"}
  ],
  "components": {
    "schemas": {
      "TimePoint": {
        "type": "object",
        "description": "出生时间地点",
        "properties": {
          "time": {"type": "string", "format": "date-time", "description": "出生时间（RFC3339），如 1984-02-04T06:00:00+08:00"},
          "longitude": {"type": "number", "description": "出生地经度，用于真太阳时校正。北京≈116.4，上海≈121.5"}
        },
        "required": ["time", "longitude"]
      },
      "Gender": {
        "type": "string", "enum": ["male", "female"], "description": "性别"
      },
      "Person": {
        "type": "object", "description": "命主信息",
        "properties": {
          "birth": {"$ref": "#/components/schemas/TimePoint"},
          "gender": {"$ref": "#/components/schemas/Gender"}
        },
        "required": ["birth", "gender"]
      },
      "CangGan": {
        "type": "object", "description": "藏干",
        "properties": {
          "main": {"type": "string", "description": "主气"},
          "mid": {"type": "string", "description": "中气"},
          "minor": {"type": "string", "description": "余气"}
        }
      },
      "ShiShenEntry": {
        "type": "object", "description": "十神条目",
        "properties": {
          "shi_shen": {"type": "string", "description": "十神名"},
          "name": {"type": "string", "description": "人事含义"},
          "source": {"type": "string", "description": "来源天干"},
          "gan": {"type": "string", "description": "关联天干"}
        }
      },
      "ChangShengEntry": {
        "type": "object", "description": "长生十二宫条目",
        "properties": {
          "stage": {"type": "string", "description": "阶段名"},
          "name": {"type": "string", "description": "名称"},
          "gan": {"type": "string", "description": "天干"}
        }
      },
      "ShenShaEntry": {
        "type": "object", "description": "神煞条目",
        "properties": {
          "name": {"type": "string", "description": "神煞名"},
          "category": {"type": "string", "description": "吉/凶"},
          "description": {"type": "string", "description": "说明"}
        }
      },
      "ZhuInfo": {
        "type": "object", "description": "四柱之一",
        "properties": {
          "gan": {"type": "string", "description": "天干"},
          "zhi": {"type": "string", "description": "地支"},
          "na_yin": {"type": "string", "description": "纳音"},
          "cang_gan": {"$ref": "#/components/schemas/CangGan"},
          "shi_shens": {"type": "array", "items": {"$ref": "#/components/schemas/ShiShenEntry"}},
          "chang_sheng": {"type": "array", "items": {"$ref": "#/components/schemas/ChangShengEntry"}},
          "shen_sha": {"type": "array", "items": {"$ref": "#/components/schemas/ShenShaEntry"}},
          "is_void": {"type": "boolean", "description": "是否空亡"},
          "is_self_he": {"type": "boolean", "description": "是否自合"},
          "is_kui_gang": {"type": "boolean", "description": "是否魁罡"},
          "self_he_name": {"type": "string", "description": "自合名称"}
        }
      },
      "FuYi": {
        "type": "object", "description": "扶抑用神",
        "properties": {
          "qiangruo": {"type": "string", "description": "身强/身弱/中和"},
          "geju": {"type": "string", "description": "格局"},
          "yong": {"type": "string", "description": "用神"},
          "xi": {"type": "string", "description": "喜神"},
          "ji": {"type": "string", "description": "忌神"}
        }
      },
      "TiaoHou": {
        "type": "object", "description": "调候用神",
        "properties": {
          "season": {"type": "string", "description": "季节"},
          "yong": {"type": "string", "description": "用神"},
          "xi": {"type": "string", "description": "喜神"},
          "ji": {"type": "string", "description": "忌神"},
          "detail": {"type": "string", "description": "详细说明"}
        }
      },
      "DaYunZhu": {
        "type": "object", "description": "大运每柱",
        "properties": {
          "gan": {"type": "string"}, "zhi": {"type": "string"},
          "age_start": {"type": "integer"}, "age_end": {"type": "integer"},
          "name": {"type": "string"}, "element": {"type": "string"}, "shi_shen": {"type": "string"}
        }
      },
      "DaYun": {
        "type": "object", "description": "大运",
        "properties": {
          "start_age": {"type": "integer", "description": "起运年龄"},
          "direction": {"type": "string", "description": "排运方向"},
          "zhu": {"type": "array", "items": {"$ref": "#/components/schemas/DaYunZhu"}},
          "current_zhu_index": {"type": "integer", "description": "当前大运索引"}
        }
      },
      "GanRelation": {
        "type": "object", "description": "天干关系",
        "properties": {
          "stem_a": {"type": "string"}, "stem_b": {"type": "string"},
          "type": {"type": "string", "description": "合/生/克/相同"},
          "relation": {"type": "string", "description": "关系说明"}
        }
      },
      "ZhiRelation": {
        "type": "object", "description": "地支关系",
        "properties": {
          "branch_a": {"type": "string"}, "branch_b": {"type": "string"},
          "type": {"type": "string", "description": "六合/三合/三会/六冲/六害/三刑/暗合/相同"},
          "detail": {"type": "string", "description": "关系说明"}
        }
      },
      "HeHui": {
        "type": "object",
        "properties": {
          "type": {"type": "string", "description": "六合/三合/三会等"},
          "name": {"type": "string"}, "element": {"type": "string"}
        }
      },
      "GongJia": {
        "type": "object",
        "properties": {
          "pillar_a": {"type": "integer"}, "pillar_b": {"type": "integer"},
          "type": {"type": "string"}, "branch": {"type": "string"}
        }
      },
      "Zhu": {
        "type": "object",
        "properties": {
          "gan": {"type": "string"}, "zhi": {"type": "string"}
        }
      },
      "TaiYuanMingGong": {
        "type": "object", "description": "胎元命宫身宫",
        "properties": {
          "tai_yuan": {"$ref": "#/components/schemas/Zhu"},
          "ming_gong": {"$ref": "#/components/schemas/Zhu"},
          "shen_gong": {"$ref": "#/components/schemas/Zhu"}
        }
      },
      "NayinRel": {
        "type": "object",
        "properties": {
          "A": {"type": "string"}, "B": {"type": "string"}, "Relation": {"type": "string"}
        }
      },
      "WuxingCount": {
        "type": "object", "description": "五行计数",
        "properties": {
          "木": {"type": "integer"}, "火": {"type": "integer"}, "土": {"type": "integer"},
          "金": {"type": "integer"}, "水": {"type": "integer"}
        }
      },
      "FuYinFanYin": {
        "type": "object", "description": "伏吟反吟",
        "properties": {
          "natal_index": {"type": "integer", "minimum": 0, "maximum": 3},
          "type": {"type": "string", "description": "伏吟/反吟"},
          "detail": {"type": "string"}
        }
      },
      "ZhuInteraction": {
        "type": "object", "description": "流年与某柱的互动",
        "properties": {
          "pillar_label": {"type": "string"},
          "gan_rels": {"type": "array", "items": {"$ref": "#/components/schemas/GanRelation"}},
          "zhi_rels": {"type": "array", "items": {"$ref": "#/components/schemas/ZhiRelation"}}
        }
      },
      "Chart": {
        "type": "object", "description": "八字命盘（data 包裹）",
        "properties": {
          "nian": {"$ref": "#/components/schemas/ZhuInfo"},
          "yue": {"$ref": "#/components/schemas/ZhuInfo"},
          "ri": {"$ref": "#/components/schemas/ZhuInfo"},
          "shi": {"$ref": "#/components/schemas/ZhuInfo"},
          "solar_time": {"type": "string", "description": "真太阳时 RFC3339"},
          "fu_yi": {"$ref": "#/components/schemas/FuYi"},
          "tiao_hou": {"$ref": "#/components/schemas/TiaoHou"},
          "da_yun": {"$ref": "#/components/schemas/DaYun"},
          "chang_sheng": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "index": {"type": "string"}}}},
          "wuxing_count": {"$ref": "#/components/schemas/WuxingCount"},
          "tai_yuan_ming_gong": {"$ref": "#/components/schemas/TaiYuanMingGong"},
          "he_hui": {"type": "array", "items": {"$ref": "#/components/schemas/HeHui"}},
          "gong_jia": {"type": "array", "items": {"$ref": "#/components/schemas/GongJia"}},
          "san_qi_name": {"type": "string"},
          "wang_shuai": {"type": "object", "description": "五行旺衰", "properties": {"木": {"type": "string"}, "火": {"type": "string"}, "土": {"type": "string"}, "金": {"type": "string"}, "水": {"type": "string"}}},
          "nayin_rel": {"type": "array", "items": {"$ref": "#/components/schemas/NayinRel"}}
        }
      },
      "LiuNian": {
        "type": "object", "description": "流年运势",
        "properties": {
          "year": {"type": "integer"}, "year_stem": {"type": "string"}, "year_branch": {"type": "string"},
          "year_name": {"type": "string"}, "wuxing": {"type": "string"}, "nayin": {"type": "string"},
          "shi_shen": {"type": "string"}, "generates": {"type": "integer"}, "restrains": {"type": "integer"},
          "natal_interactions": {"type": "array", "items": {"$ref": "#/components/schemas/ZhuInteraction"}},
          "dayun_interactions": {"type": "array", "items": {"$ref": "#/components/schemas/ZhuInteraction"}},
          "shensha": {"type": "array", "items": {"$ref": "#/components/schemas/ShenShaEntry"}},
          "fuyin_fanyin": {"type": "array", "items": {"$ref": "#/components/schemas/FuYinFanYin"}}
        }
      },
      "LiuYue": {
        "type": "object", "description": "流月运势",
        "properties": {
          "year": {"type": "integer"}, "month": {"type": "integer"},
          "month_stem": {"type": "string"}, "month_branch": {"type": "string"}, "month_name": {"type": "string"},
          "wuxing": {"type": "string"}, "shi_shen": {"type": "string"},
          "generates": {"type": "integer"}, "restrains": {"type": "integer"},
          "gan_rels": {"type": "array", "items": {"$ref": "#/components/schemas/GanRelation"}},
          "branch_rels": {"type": "array", "items": {"$ref": "#/components/schemas/ZhiRelation"}},
          "shensha": {"type": "array", "items": {"$ref": "#/components/schemas/ShenShaEntry"}}
        }
      },
      "LiuRi": {
        "type": "object", "description": "流日运势",
        "properties": {
          "date": {"type": "string"}, "day_stem": {"type": "string"}, "day_branch": {"type": "string"},
          "day_name": {"type": "string"}, "day_nayin": {"type": "string"}, "shi_shen": {"type": "string"},
          "gan_rels": {"type": "array", "items": {"$ref": "#/components/schemas/GanRelation"}},
          "branch_rels": {"type": "array", "items": {"$ref": "#/components/schemas/ZhiRelation"}},
          "dayun_rels": {"type": "array", "items": {"$ref": "#/components/schemas/ZhiRelation"}},
          "liunian_rels": {"type": "array", "items": {"$ref": "#/components/schemas/ZhiRelation"}},
          "shensha": {"type": "array", "items": {"$ref": "#/components/schemas/ShenShaEntry"}}
        }
      },
      "LiuShi": {
        "type": "object", "description": "流时运势",
        "properties": {
          "time": {"type": "string"}, "hour_stem": {"type": "string"}, "hour_branch": {"type": "string"},
          "hour_name": {"type": "string"}, "shi_shen": {"type": "string"},
          "gan_rels": {"type": "array", "items": {"$ref": "#/components/schemas/GanRelation"}},
          "branch_rels": {"type": "array", "items": {"$ref": "#/components/schemas/ZhiRelation"}}
        }
      },
      "XiaoYunZhu": {
        "type": "object",
        "properties": {
          "age": {"type": "integer"}, "gan": {"type": "string"}, "zhi": {"type": "string"},
          "name": {"type": "string"}, "shi_shen": {"type": "string"}
        }
      },
      "XiaoXian": {
        "type": "object",
        "properties": {
          "age": {"type": "integer"}, "branch": {"type": "string"}
        }
      },
      "ZhuCrossPair": {
        "type": "object", "description": "合盘四柱交互对",
        "properties": {
          "a_zhu": {"type": "string"}, "b_zhu": {"type": "string"},
          "a_stem": {"type": "string"}, "b_stem": {"type": "string"},
          "a_branch": {"type": "string"}, "b_branch": {"type": "string"},
          "stem": {"$ref": "#/components/schemas/GanRelation"},
          "branch": {"$ref": "#/components/schemas/ZhiRelation"}
        }
      },
      "ShiShenCross": {
        "type": "object", "description": "合盘十神交互",
        "properties": {
          "a_to_b": {"type": "object", "properties": {"nian_stem": {"type": "string"}, "yue_stem": {"type": "string"}, "ri_stem": {"type": "string"}, "shi_stem": {"type": "string"}}},
          "b_to_a": {"type": "object", "properties": {"nian_stem": {"type": "string"}, "yue_stem": {"type": "string"}, "ri_stem": {"type": "string"}, "shi_stem": {"type": "string"}}}
        }
      },
      "NayinCrossPair": {
        "type": "object",
        "properties": {
          "a_zhu": {"type": "string"}, "b_zhu": {"type": "string"},
          "a_na_yin": {"type": "string"}, "b_na_yin": {"type": "string"},
          "relation": {"type": "string"}
        }
      },
      "YongShenCross": {
        "type": "object", "description": "用神交叉",
        "properties": {
          "yong": {"type": "string"}, "ji": {"type": "string"},
          "yong_in_other": {"type": "integer"}, "ji_in_other": {"type": "integer"}
        }
      },
      "ShenShaCrossBool": {
        "type": "object",
        "properties": {"a_in_b": {"type": "boolean"}, "b_in_a": {"type": "boolean"}}
      },
      "DaYunCurrent": {
        "type": "object",
        "properties": {"gan": {"type": "string"}, "zhi": {"type": "string"}, "name": {"type": "string"}, "shi_shen": {"type": "string"}}
      },
      "XunGong": {
        "type": "object",
        "properties": {"same_xun": {"type": "boolean"}, "same_gong": {"type": "boolean"}}
      },
      "Bond": {
        "type": "object", "description": "八字合盘",
        "properties": {
          "zhu_cross": {"type": "object", "properties": {"pairs": {"type": "array", "items": {"$ref": "#/components/schemas/ZhuCrossPair"}}}},
          "shi_shen_cross": {"$ref": "#/components/schemas/ShiShenCross"},
          "nayin_cross": {
            "type": "object",
            "properties": {
              "pairs": {"type": "array", "items": {"$ref": "#/components/schemas/NayinCrossPair"}},
              "elements": {"type": "object", "properties": {"a": {"$ref": "#/components/schemas/WuxingCount"}, "b": {"$ref": "#/components/schemas/WuxingCount"}}},
              "yong_shen": {"type": "object", "properties": {"a": {"$ref": "#/components/schemas/YongShenCross"}, "b": {"$ref": "#/components/schemas/YongShenCross"}}}
            }
          },
          "shensha_cross": {
            "type": "object",
            "properties": {
              "tian_yi": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "lu": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "tao_hua": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "yi_ma": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "kong_wang": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "kui_gang": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "ri_de": {"$ref": "#/components/schemas/ShenShaCrossBool"},
              "ri_gui": {"$ref": "#/components/schemas/ShenShaCrossBool"}
            }
          },
          "structure": {
            "type": "object",
            "properties": {
              "da_yun": {"type": "object", "properties": {"a_current": {"$ref": "#/components/schemas/DaYunCurrent"}, "b_current": {"$ref": "#/components/schemas/DaYunCurrent"}, "stem_rel": {"$ref": "#/components/schemas/GanRelation"}, "branch_rel": {"$ref": "#/components/schemas/ZhiRelation"}}},
              "xun_gong": {"$ref": "#/components/schemas/XunGong"}
            }
          }
        }
      },
      "ZiWeiStar": {
        "type": "object", "description": "紫微星曜",
        "properties": {
          "star": {"type": "integer"}, "name": {"type": "string"},
          "is_major": {"type": "boolean"}, "si_hua": {"type": "string"}, "brightness": {"type": "string"}
        }
      },
      "ZiWeiPalace": {
        "type": "object", "description": "紫微宫位",
        "properties": {
          "index": {"type": "integer"}, "name": {"type": "string"},
          "gan": {"type": "string"}, "zhi": {"type": "string"},
          "is_body_palace": {"type": "boolean"},
          "stars": {"type": "array", "items": {"$ref": "#/components/schemas/ZiWeiStar"}},
          "ziwei_star": {"$ref": "#/components/schemas/ZiWeiStar"}
        }
      },
      "ZiWeiPattern": {
        "type": "object",
        "properties": {
          "name": {"type": "string"}, "description": {"type": "string"},
          "auspicious": {"type": "boolean"}, "palaces": {"type": "array", "items": {"type": "integer"}}
        }
      },
      "ZiWeiChart": {
        "type": "object", "description": "紫微命盘",
        "properties": {
          "palaces": {"type": "array", "items": {"$ref": "#/components/schemas/ZiWeiPalace"}},
          "ming_gong": {"type": "integer"}, "shen_gong": {"type": "integer"},
          "ju_shu": {"type": "integer"}, "ju_shu_name": {"type": "string"},
          "ziwei_pos": {"type": "integer"},
          "si_hua": {"type": "object", "additionalProperties": {"type": "string"}},
          "year_gan": {"type": "string"}, "hour_zhi": {"type": "string"},
          "birth_year": {"type": "integer"}, "gender": {"type": "string"},
          "patterns": {"type": "array", "items": {"$ref": "#/components/schemas/ZiWeiPattern"}}
        }
      },
      "DaXianStep": {
        "type": "object",
        "properties": {
          "start_age": {"type": "integer"}, "end_age": {"type": "integer"},
          "palace": {"type": "integer"}, "name": {"type": "string"}
        }
      },
      "ZiWeiLiuNian": {
        "type": "object", "description": "紫微流年",
        "properties": {
          "ming_gong": {"type": "integer"}, "ming_gong_name": {"type": "string"},
          "si_hua": {"type": "object", "additionalProperties": {"type": "string"}},
          "si_hua_palace": {"type": "object", "additionalProperties": {"type": "integer"}},
          "minor_stars": {"type": "object", "additionalProperties": {"type": "integer"}}
        }
      },
      "ZiWeiLiuYue": {
        "type": "object", "description": "紫微流月",
        "properties": {
          "ming_gong": {"type": "integer"}, "ming_gong_name": {"type": "string"},
          "si_hua": {"type": "object", "additionalProperties": {"type": "string"}}
        }
      },
      "ZiWeiLiuRi": {
        "type": "object", "description": "紫微流日",
        "properties": {
          "ming_gong": {"type": "integer"}, "ming_gong_name": {"type": "string"},
          "si_hua": {"type": "object", "additionalProperties": {"type": "string"}}
        }
      },
      "ZiWeiBond": {
        "type": "object", "description": "紫微合盘",
        "properties": {
          "a_into_b": {"type": "integer"}, "b_into_a": {"type": "integer"},
          "star_cross": {"type": "array", "items": {"type": "object"}},
          "sihua_cross": {"type": "array", "items": {"type": "object"}}
        }
      },
      "QimenPalace": {
        "type": "object", "description": "奇门九宫格",
        "properties": {
          "earth_stem": {"type": "string"}, "heaven_stem": {"type": "string"},
          "star": {"type": "integer"}, "door": {"type": "integer"},
          "spirit": {"type": "integer"}, "hidden_stem": {"type": "string"}
        }
      },
      "QimenChart": {
        "type": "object", "description": "奇门盘",
        "properties": {
          "pan": {
            "type": "object",
            "properties": {
              "jushu": {"type": "integer"}, "yin_dun": {"type": "boolean"},
              "duty_star": {"type": "integer"}, "duty_door": {"type": "integer"},
              "palaces": {"type": "array", "items": {"$ref": "#/components/schemas/QimenPalace"}},
              "ma_xing": {"type": "integer"}, "drive_gan": {"type": "string"}, "drive_zhi": {"type": "string"},
              "kong_wang": {"type": "array", "items": {"type": "integer"}}
            }
          },
          "stem_interactions": {"type": "array", "items": {"type": "object"}},
          "door_interactions": {"type": "array", "items": {"type": "object"}},
          "star_interactions": {"type": "array", "items": {"type": "object"}},
          "wang_shuai": {"type": "array", "items": {"type": "object"}},
          "men_po": {"type": "array", "items": {"type": "integer"}},
          "men_zhi": {"type": "array", "items": {"type": "integer"}},
          "patterns": {"type": "array", "items": {"type": "object"}},
          "ying_qi": {"type": "object"}
        }
      },
      "WuGeData": {
        "type": "object", "description": "五格组合 + 字库",
        "properties": {
          "surname": {"type": "string"},
          "combos": {"type": "array", "items": {"type": "object", "properties": {"stroke1": {"type": "integer"}, "stroke2": {"type": "integer"}, "san_cai": {"type": "string"}, "fortune": {"type": "string"}}}},
          "yong_chars": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "object", "properties": {"char": {"type": "string"}, "tone": {"type": "integer"}}}}},
          "xi_chars": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "object", "properties": {"char": {"type": "string"}, "tone": {"type": "integer"}}}}}
        }
      },
      "Character": {
        "type": "object", "description": "汉字信息",
        "properties": {
          "char": {"type": "string"}, "wuxing": {"type": "string"}, "stroke": {"type": "integer"},
          "radical": {"type": "string"}, "pinyin": {"type": "string"}, "tone": {"type": "integer"},
          "traditional": {"type": "string"}
        }
      },
      "Ge": {
        "type": "object", "description": "五格之一",
        "properties": {
          "stroke": {"type": "integer"}, "wuxing": {"type": "string"},
          "fortune": {"type": "string", "description": "吉/大吉/半吉/凶"},
          "description": {"type": "string"}
        }
      },
      "WuGe": {
        "type": "object", "description": "五格",
        "properties": {
          "tian_ge": {"$ref": "#/components/schemas/Ge"}, "ren_ge": {"$ref": "#/components/schemas/Ge"},
          "di_ge": {"$ref": "#/components/schemas/Ge"}, "wai_ge": {"$ref": "#/components/schemas/Ge"},
          "zong_ge": {"$ref": "#/components/schemas/Ge"}
        }
      },
      "SanCai": {
        "type": "object", "description": "三才配置",
        "properties": {
          "configuration": {"type": "string", "description": "如 金土金"},
          "fortune": {"type": "string", "description": "吉/大吉/半吉/凶"},
          "description": {"type": "string"}
        }
      },
      "Phonetic": {
        "type": "object", "description": "音韵",
        "properties": {
          "tones": {"type": "string", "description": "声调组合，如 1-2"},
          "is_ping_ze": {"type": "boolean", "description": "是否平仄交替"}
        }
      },
      "NameCandidate": {
        "type": "object", "description": "候选名字详析",
        "properties": {
          "name": {"type": "string"},
          "characters": {"type": "array", "items": {"$ref": "#/components/schemas/Character"}},
          "wu_ge": {"$ref": "#/components/schemas/WuGe"},
          "san_cai": {"$ref": "#/components/schemas/SanCai"},
          "phonetic": {"$ref": "#/components/schemas/Phonetic"}
        }
      },
      "Evaluation": {
        "type": "object", "description": "单名评估",
        "properties": {
          "surname": {"type": "string"}, "given_name": {"type": "string"},
          "characters": {"type": "array", "items": {"$ref": "#/components/schemas/Character"}},
          "wu_ge": {"$ref": "#/components/schemas/WuGe"},
          "san_cai": {"$ref": "#/components/schemas/SanCai"},
          "phonetic": {"$ref": "#/components/schemas/Phonetic"},
          "wuxing_match": {"type": "boolean"}
        }
      },
      "Gua": {
        "type": "object", "description": "卦象",
        "properties": {
          "index": {"type": "integer"}, "name": {"type": "string"},
          "wuxing": {"type": "string"}, "yin_yang": {"type": "string"}
        }
      },
      "MingGua": {
        "type": "object", "description": "命卦",
        "properties": {
          "gua": {"$ref": "#/components/schemas/Gua"},
          "gua_number": {"type": "integer"}, "group": {"type": "string", "description": "东四命/西四命"}
        }
      },
      "FlyingStar": {
        "type": "object", "description": "飞星",
        "properties": {
          "number": {"type": "integer"}, "color": {"type": "string"}, "name": {"type": "string"},
          "wuxing": {"type": "string"}, "auspicious": {"type": "boolean"}
        }
      },
      "FlyingStarPalace": {
        "type": "object", "description": "飞星宫位",
        "properties": {
          "palace_num": {"type": "integer"},
          "star": {"$ref": "#/components/schemas/FlyingStar"}
        }
      },
      "BazhaiDirs": {
        "type": "object", "description": "八宅八方",
        "properties": {
          "sheng_qi": {"type": "array", "items": {"type": "string"}},
          "tian_yi": {"type": "array", "items": {"type": "string"}},
          "yan_nian": {"type": "array", "items": {"type": "string"}},
          "fu_wei": {"type": "array", "items": {"type": "string"}},
          "huo_hai": {"type": "array", "items": {"type": "string"}},
          "wu_gui": {"type": "array", "items": {"type": "string"}},
          "liu_sha": {"type": "array", "items": {"type": "string"}},
          "jue_ming": {"type": "array", "items": {"type": "string"}}
        }
      },
      "BazhaiChart": {
        "type": "object", "description": "八宅风水",
        "properties": {
          "ming_gua": {"$ref": "#/components/schemas/MingGua"},
          "ba_zhai_dirs": {"$ref": "#/components/schemas/BazhaiDirs"},
          "year_stars": {
            "type": "object",
            "properties": {
              "year": {"type": "integer"}, "center_star": {"$ref": "#/components/schemas/FlyingStar"},
              "palaces": {"type": "array", "items": {"$ref": "#/components/schemas/FlyingStarPalace"}}
            }
          },
          "pillar_bagua": {"type": "array", "items": {"$ref": "#/components/schemas/Gua"}}
        }
      },
      "SanYuanYun": {
        "type": "object", "description": "三元九运",
        "properties": {
          "year": {"type": "integer"}, "yuan": {"type": "string"}, "yun_number": {"type": "integer"},
          "yun_name": {"type": "string"}, "start_year": {"type": "integer"}, "end_year": {"type": "integer"}
        }
      },
      "XuankongPalace": {
        "type": "object", "description": "玄空飞星宫位",
        "properties": {
          "palace_num": {"type": "integer"},
          "period_star": {"$ref": "#/components/schemas/FlyingStar"},
          "mountain_star": {"$ref": "#/components/schemas/FlyingStar"},
          "facing_star": {"$ref": "#/components/schemas/FlyingStar"}
        }
      },
      "XuankongChart": {
        "type": "object", "description": "玄空飞星",
        "properties": {
          "yun": {"$ref": "#/components/schemas/SanYuanYun"},
          "sit_mountain": {"type": "integer"}, "face_mountain": {"type": "integer"},
          "palaces": {"type": "array", "items": {"$ref": "#/components/schemas/XuankongPalace"}},
          "wang_shan": {"type": "boolean"}, "wang_xiang": {"type": "boolean"},
          "shan_xing": {"type": "boolean"}, "xia_shui": {"type": "boolean"},
          "fan_yin": {"type": "boolean"}, "fu_yin": {"type": "boolean"},
          "xing_jia_hui": {"type": "array", "items": {"type": "object"}},
          "shou_shan_chu_sha": {"type": "object"}
        }
      },
      "LiuyaoLine": {
        "type": "object", "description": "六爻爻位",
        "properties": {
          "position": {"type": "integer"}, "type": {"type": "integer"},
          "gan": {"type": "string"}, "zhi": {"type": "string"}, "wuxing": {"type": "string"},
          "liu_qin": {"type": "integer"}, "shi_ying": {"type": "string"}, "liu_shou": {"type": "integer"}
        }
      },
      "LiuyaoChart": {
        "type": "object", "description": "六爻卦象",
        "properties": {
          "name": {"type": "string"}, "ben_gua": {"type": "integer"}, "bian_gua": {"type": "integer"},
          "palace": {"type": "string"}, "palace_wuxing": {"type": "string"},
          "lines": {"type": "array", "items": {"$ref": "#/components/schemas/LiuyaoLine"}},
          "bian_lines": {"type": "array", "items": {"$ref": "#/components/schemas/LiuyaoLine"}},
          "day_gan": {"type": "string"}, "day_zhi": {"type": "string"}, "month_zhi": {"type": "string"},
          "dong_yao": {"type": "array", "items": {"type": "integer"}},
          "yong_shen": {"type": "object"},
          "wang_shuai": {"type": "array", "items": {"type": "integer"}},
          "day_relations": {"type": "array", "items": {"type": "object"}},
          "ying_qi": {"type": "object"}
        }
      },
      "HuangDaoStar": {
        "type": "object", "description": "黄道星",
        "properties": {
          "index": {"type": "integer"}, "name": {"type": "string"},
          "path": {"type": "string"}, "sequence": {"type": "integer"}
        }
      },
      "DayMansion": {
        "type": "object", "description": "二十八宿",
        "properties": {
          "index": {"type": "integer"}, "name": {"type": "string"}, "animal": {"type": "string"},
          "wuxing": {"type": "string"}, "group": {"type": "string"}, "group_idx": {"type": "integer"}
        }
      },
      "HuangliDay": {
        "type": "object", "description": "黄历日",
        "properties": {
          "date": {"type": "string"}, "day_pillar": {"type": "object"}, "nayin": {"type": "string"},
          "wuxing": {"type": "string"}, "jian_chu": {"type": "string"}, "suitable": {"type": "boolean"},
          "marks": {"type": "array", "items": {"type": "string"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "huangdao": {"$ref": "#/components/schemas/HuangDaoStar"},
          "xi_shen": {"type": "string"}, "cai_shen": {"type": "string"}, "fu_shen": {"type": "string"},
          "stem_taboo": {"type": "string"}, "branch_taboo": {"type": "string"},
          "mansion": {"$ref": "#/components/schemas/DayMansion"},
          "jie_qi": {"type": "string"}, "jie_qi_days": {"type": "integer"}, "ren_yuan": {"type": "string"}
        }
      },
      "HuangliBondDay": {
        "type": "object", "description": "八字合参择日（继承 HuangliDay）",
        "properties": {
          "date": {"type": "string"}, "day_pillar": {"type": "object"}, "nayin": {"type": "string"},
          "wuxing": {"type": "string"}, "jian_chu": {"type": "string"}, "suitable": {"type": "boolean"},
          "marks": {"type": "array", "items": {"type": "string"}},
          "warnings": {"type": "array", "items": {"type": "string"}},
          "huangdao": {"$ref": "#/components/schemas/HuangDaoStar"},
          "xi_shen": {"type": "string"}, "cai_shen": {"type": "string"}, "fu_shen": {"type": "string"},
          "stem_taboo": {"type": "string"}, "branch_taboo": {"type": "string"},
          "mansion": {"$ref": "#/components/schemas/DayMansion"},
          "jie_qi": {"type": "string"}, "jie_qi_days": {"type": "integer"}, "ren_yuan": {"type": "string"},
          "gan_relation": {"type": "string"}, "zhi_relation": {"type": "string"}, "tai_sui_relation": {"type": "string"}
        }
      },
      "CityResult": {
        "type": "object", "description": "城市经纬度查询结果",
        "properties": {
          "name": {"type": "string"}, "lat": {"type": "number"}, "lon": {"type": "number"},
          "timezone": {"type": "string"}, "country": {"type": "string"}
        }
      },
      "LocationResult": {
        "type": "object", "description": "IP 定位结果",
        "properties": {
          "city": {"type": "string"}, "lat": {"type": "number"}, "lon": {"type": "number"},
          "timezone": {"type": "string"}, "country": {"type": "string"}
        }
      },
      "Greeting": {
        "type": "object", "description": "欢迎语",
        "properties": {
          "message": {"type": "string"}, "session_id": {"type": "string"}
        }
      },
      "EnvelopeChart": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/Chart"}}
      },
      "EnvelopeBond": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/Bond"}}
      },
      "EnvelopeLiuNian": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/LiuNian"}}
      },
      "EnvelopeLiuYue": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/LiuYue"}}
      },
      "EnvelopeLiuRi": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/LiuRi"}}
      },
      "EnvelopeLiuShi": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/LiuShi"}}
      },
      "EnvelopeXiaoYun": {
        "type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/XiaoYunZhu"}}}
      },
      "EnvelopeXiaoXian": {
        "type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/XiaoXian"}}}
      },
      "EnvelopeZiWeiChart": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/ZiWeiChart"}}
      },
      "EnvelopeDaXian": {
        "type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/DaXianStep"}}}
      },
      "EnvelopeZiWeiLiuNian": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/ZiWeiLiuNian"}}
      },
      "EnvelopeZiWeiLiuYue": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/ZiWeiLiuYue"}}
      },
      "EnvelopeZiWeiLiuRi": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/ZiWeiLiuRi"}}
      },
      "EnvelopeZiWeiBond": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/ZiWeiBond"}}
      },
      "EnvelopeQimen": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/QimenChart"}}
      },
      "EnvelopeWuGe": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/WuGeData"}}
      },
      "EnvelopeCompose": {
        "type": "object", "properties": {"data": {"type": "array", "items": {"type": "string"}}}
      },
      "EnvelopeDetail": {
        "type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/NameCandidate"}}}
      },
      "EnvelopeEvaluate": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/Evaluation"}}
      },
      "EnvelopeMingGua": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/MingGua"}}
      },
      "EnvelopeBazhai": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/BazhaiChart"}}
      },
      "EnvelopeSanYuan": {
        "type": "object", "properties": {"data": {"type": "object", "properties": {"current": {"$ref": "#/components/schemas/SanYuanYun"}}}}
      },
      "EnvelopeXuanKong": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/XuankongChart"}}
      },
      "EnvelopeLiuyao": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/LiuyaoChart"}}
      },
      "EnvelopeHuangliDate": {
        "type": "object", "properties": {"data": {"type": "object", "properties": {"entry": {"$ref": "#/components/schemas/HuangliDay"}}}}
      },
      "EnvelopeHuangliMonth": {
        "type": "object", "properties": {"data": {"type": "object", "properties": {"entries": {"type": "object", "properties": {"month": {"type": "string"}, "stem": {"type": "string"}, "branch": {"type": "string"}, "days": {"type": "array", "items": {"$ref": "#/components/schemas/HuangliDay"}}}}}}}
      },
      "EnvelopeHuangliBondDate": {
        "type": "object", "properties": {"data": {"type": "object", "properties": {"entry": {"$ref": "#/components/schemas/HuangliBondDay"}}}}
      },
      "EnvelopeHuangliBondMonth": {
        "type": "object", "properties": {"data": {"type": "object", "properties": {"entries": {"type": "object", "properties": {"month": {"type": "string"}, "stem": {"type": "string"}, "branch": {"type": "string"}, "days": {"type": "array", "items": {"$ref": "#/components/schemas/HuangliBondDay"}}}}}}}
      },
      "EnvelopeCity": {
        "type": "object", "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/CityResult"}}}
      },
      "EnvelopeLocation": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/LocationResult"}}
      },
      "EnvelopeGreeting": {
        "type": "object", "properties": {"data": {"$ref": "#/components/schemas/Greeting"}}
      }
    }
  },
  "paths": {
    "/api/bazi/chart": {
      "post": {
        "tags": ["bazi"],
        "summary": "排八字命盘",
        "description": "返回四柱、十神、藏干、纳音、神煞、用神（扶抑+调候）、格局、身强身弱、大运。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Person"}}}},
        "responses": {"200": {"description": "八字命盘", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeChart"}}}}},
        "x-agent-tool": "compute_chart"
      }
    },
    "/api/bazi/bond": {
      "post": {
        "tags": ["bazi"],
        "summary": "八字合盘",
        "description": "返回双方日主、天干关系（合/生/克）、地支关系（六合/三合/六冲）、纳音配合、五行互补。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"a": {"$ref": "#/components/schemas/Person"}, "b": {"$ref": "#/components/schemas/Person"}}, "required": ["a", "b"]}}}},
        "responses": {"200": {"description": "合盘结果", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeBond"}}}}},
        "x-agent-tool": "compute_bond"
      }
    },
    "/api/bazi/liunian": {
      "post": {
        "tags": ["bazi"],
        "summary": "流年运势",
        "description": "返回流年干支与命局的十神、神煞、伏吟反吟。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"year": {"type": "integer", "description": "目标年份"}, "birth": {"$ref": "#/components/schemas/TimePoint"}, "gender": {"$ref": "#/components/schemas/Gender"}}, "required": ["year", "birth", "gender"]}}}},
        "responses": {"200": {"description": "流年运势", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeLiuNian"}}}}},
        "x-agent-tool": "compute_liunian"
      }
    },
    "/api/bazi/liuyue": {
      "post": {
        "tags": ["bazi"],
        "summary": "流月运势",
        "description": "返回流月干支与命局的十神、神煞。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"year": {"type": "integer", "description": "目标年份"}, "month": {"type": "integer", "minimum": 1, "maximum": 12, "description": "目标月份"}, "birth": {"$ref": "#/components/schemas/TimePoint"}, "gender": {"$ref": "#/components/schemas/Gender"}}, "required": ["year", "month", "birth", "gender"]}}}},
        "responses": {"200": {"description": "流月运势", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeLiuYue"}}}}},
        "x-agent-tool": "compute_liuyue"
      }
    },
    "/api/bazi/liuri": {
      "post": {
        "tags": ["bazi"],
        "summary": "流日运势",
        "description": "返回流日干支、十神、纳音。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"year": {"type": "integer", "description": "目标年份"}, "month": {"type": "integer", "minimum": 1, "maximum": 12, "description": "目标月份"}, "day": {"type": "integer", "minimum": 1, "maximum": 31, "description": "目标日期"}, "birth": {"$ref": "#/components/schemas/TimePoint"}, "gender": {"$ref": "#/components/schemas/Gender"}}, "required": ["year", "month", "day", "birth", "gender"]}}}},
        "responses": {"200": {"description": "流日运势", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeLiuRi"}}}}},
        "x-agent-tool": "compute_liuri"
      }
    },
    "/api/bazi/liushi": {
      "post": {
        "tags": ["bazi"],
        "summary": "流时运势",
        "description": "返回流时干支、十神。hour 为时辰（0-23）。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"year": {"type": "integer", "description": "目标年份"}, "month": {"type": "integer", "minimum": 1, "maximum": 12, "description": "目标月份"}, "day": {"type": "integer", "minimum": 1, "maximum": 31, "description": "目标日期"}, "hour": {"type": "integer", "minimum": 0, "maximum": 23, "description": "时辰"}, "birth": {"$ref": "#/components/schemas/TimePoint"}, "gender": {"$ref": "#/components/schemas/Gender"}}, "required": ["year", "month", "day", "hour", "birth", "gender"]}}}},
        "responses": {"200": {"description": "流时运势", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeLiuShi"}}}}},
        "x-agent-tool": "compute_liushi"
      }
    },
    "/api/bazi/xiaoyun": {
      "post": {
        "tags": ["bazi"],
        "summary": "小运",
        "description": "返回小运流年列表。count 默认 5。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"birth": {"$ref": "#/components/schemas/TimePoint"}, "gender": {"$ref": "#/components/schemas/Gender"}, "count": {"type": "integer", "description": "返回年数，默认 5"}}, "required": ["birth", "gender"]}}}},
        "responses": {"200": {"description": "小运", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeXiaoYun"}}}}},
        "x-agent-tool": "compute_xiaoyun"
      }
    },
    "/api/bazi/xiaoxian": {
      "post": {
        "tags": ["bazi"],
        "summary": "小限",
        "description": "返回小限列表。count 默认 16。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"gender": {"$ref": "#/components/schemas/Gender"}, "count": {"type": "integer", "description": "返回年数，默认 16"}}, "required": ["gender"]}}}},
        "responses": {"200": {"description": "小限", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeXiaoXian"}}}}},
        "x-agent-tool": "compute_xiaoxian"
      }
    },
    "/api/ziwei/chart": {
      "post": {
        "tags": ["ziwei"],
        "summary": "紫微斗数排盘",
        "description": "返回十二宫星曜分布、亮度、四化。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Person"}}}},
        "responses": {"200": {"description": "紫微命盘", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeZiWeiChart"}}}}},
        "x-agent-tool": "compute_ziwei"
      }
    },
    "/api/ziwei/daxian": {
      "post": {
        "tags": ["ziwei"],
        "summary": "紫微斗数大限",
        "description": "返回十年大限各宫吉凶。chart 为 compute_ziwei 返回的完整 chart 对象。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"chart": {"type": "object", "description": "紫微盘完整数据"}}, "required": ["chart"]}}}},
        "responses": {"200": {"description": "大限", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeDaXian"}}}}},
        "x-agent-tool": "compute_ziwei_daxian"
      }
    },
    "/api/ziwei/liunian": {
      "post": {
        "tags": ["ziwei"],
        "summary": "紫微流年",
        "description": "返回流年命盘及各宫变化。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"liu_year": {"type": "integer", "description": "流年年份"}, "chart": {"type": "object", "description": "紫微盘完整数据"}}, "required": ["liu_year", "chart"]}}}},
        "responses": {"200": {"description": "紫微流年", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeZiWeiLiuNian"}}}}},
        "x-agent-tool": "compute_ziwei_liunian"
      }
    },
    "/api/ziwei/liuyue": {
      "post": {
        "tags": ["ziwei"],
        "summary": "紫微流月",
        "description": "返回流月命盘及各宫变化。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"liu_year": {"type": "integer", "description": "流年年份"}, "lunar_month": {"type": "integer", "minimum": 1, "maximum": 12, "description": "农历月份"}, "chart": {"type": "object", "description": "紫微盘完整数据"}}, "required": ["liu_year", "lunar_month", "chart"]}}}},
        "responses": {"200": {"description": "紫微流月", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeZiWeiLiuYue"}}}}},
        "x-agent-tool": "compute_ziwei_liuyue"
      }
    },
    "/api/ziwei/liuri": {
      "post": {
        "tags": ["ziwei"],
        "summary": "紫微流日",
        "description": "返回流日命盘及各宫变化。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"liu_year": {"type": "integer", "description": "流年年份"}, "lunar_month": {"type": "integer", "minimum": 1, "maximum": 12, "description": "农历月份"}, "lunar_day": {"type": "integer", "minimum": 1, "maximum": 30, "description": "农历日期"}, "chart": {"type": "object", "description": "紫微盘完整数据"}}, "required": ["liu_year", "lunar_month", "lunar_day", "chart"]}}}},
        "responses": {"200": {"description": "紫微流日", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeZiWeiLiuRi"}}}}},
        "x-agent-tool": "compute_ziwei_liuri"
      }
    },
    "/api/ziwei/bond": {
      "post": {
        "tags": ["ziwei"],
        "summary": "紫微合盘",
        "description": "返回双方命盘交互分析。a 和 b 各为 compute_ziwei 返回的 chart 对象。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"a": {"type": "object", "description": "甲方紫微盘"}, "b": {"type": "object", "description": "乙方紫微盘"}}, "required": ["a", "b"]}}}},
        "responses": {"200": {"description": "紫微合盘", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeZiWeiBond"}}}}},
        "x-agent-tool": "compute_ziwei_bond"
      }
    },
    "/api/qimen/pan": {
      "post": {
        "tags": ["qimen"],
        "summary": "奇门排盘",
        "description": "返回天盘、人盘、神盘、九星八门格局。kind 默认 \"shi\"（时家奇门），可选 \"ri\"（日家）、\"yue\"（月家）、\"nian\"（年家）。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"birth": {"$ref": "#/components/schemas/TimePoint"}, "kind": {"type": "string", "enum": ["shi", "ri", "yue", "nian"], "description": "奇门类型，默认 shi"}}, "required": ["birth"]}}}},
        "responses": {"200": {"description": "奇门盘", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeQimen"}}}}},
        "x-agent-tool": "compute_qimen"
      }
    },
    "/api/qiming/wuge": {
      "post": {
        "tags": ["qiming"],
        "summary": "起名 — 五格",
        "description": "返回三才五格组合 + 可用字库。yong_shen 取值 木/火/土/金/水（从八字用神获取）。第四步之前不可并行。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"surname": {"type": "string", "minLength": 1, "maxLength": 2, "description": "姓氏"}, "yong_shen": {"type": "string", "enum": ["木", "火", "土", "金", "水"], "description": "用神五行"}, "xi_shen": {"type": "array", "items": {"type": "string", "enum": ["木", "火", "土", "金", "水"]}, "description": "喜神五行（可选）"}}, "required": ["surname", "yong_shen"]}}}},
        "responses": {"200": {"description": "五格组合 + 字库", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeWuGe"}}}}},
        "x-agent-tool": "compute_naming_wuge"
      }
    },
    "/api/qiming/compose": {
      "post": {
        "tags": ["qiming"],
        "summary": "起名 — 组名",
        "description": "从上一步五格组合中选取 combos 生成候选名字。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"surname": {"type": "string", "minLength": 1, "maxLength": 2, "description": "姓氏"}, "combos": {"type": "array", "description": "五格组合（从 wuge 返回的 combos 中选取）"}, "yong_chars": {"type": "object", "description": "用神字库（从 wuge 返回的 yong_chars）"}, "xi_chars": {"type": "object", "description": "喜神字库（从 wuge 返回的 xi_chars）"}}, "required": ["surname", "combos", "yong_chars"]}}}},
        "responses": {"200": {"description": "候选名字列表", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeCompose"}}}}},
        "x-agent-tool": "compute_naming_compose"
      }
    },
    "/api/qiming/detail": {
      "post": {
        "tags": ["qiming"],
        "summary": "起名 — 详析",
        "description": "对候选名字逐一详析，返回五格数理、三才配置、五行、音韵。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"surname": {"type": "string", "minLength": 1, "maxLength": 2, "description": "姓氏"}, "names": {"type": "array", "items": {"type": "string"}, "description": "候选名字列表"}}, "required": ["surname", "names"]}}}},
        "responses": {"200": {"description": "名字详析", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeDetail"}}}}},
        "x-agent-tool": "compute_naming_detail"
      }
    },
    "/api/qiming/evaluate": {
      "post": {
        "tags": ["qiming"],
        "summary": "起名 — 评估",
        "description": "用户自选名字时评估单名。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"surname": {"type": "string", "minLength": 1, "maxLength": 2, "description": "姓氏"}, "given_name": {"type": "string", "description": "名字"}, "yong_shen": {"type": "string", "enum": ["木", "火", "土", "金", "水"], "description": "用神五行"}}, "required": ["surname", "given_name", "yong_shen"]}}}},
        "responses": {"200": {"description": "名字评估", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeEvaluate"}}}}},
        "x-agent-tool": "compute_naming_evaluate"
      }
    },
    "/api/huangli/date": {
      "get": {
        "tags": ["huangli"],
        "summary": "按日查宜忌",
        "description": "查询指定日期的黄历宜忌。",
        "parameters": [{"name": "date", "in": "query", "required": true, "schema": {"type": "string"}, "description": "日期 YYYY-MM-DD"}, {"name": "event", "in": "query", "schema": {"type": "string"}, "description": "事项（如 嫁娶/开业/搬家）"}],
        "responses": {"200": {"description": "黄历日期", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeHuangliDate"}}}}},
        "x-agent-tool": "query_huangli_date"
      }
    },
    "/api/huangli/month": {
      "get": {
        "tags": ["huangli"],
        "summary": "按月查宜忌",
        "description": "返回当月每日宜忌汇总。",
        "parameters": [{"name": "month", "in": "query", "required": true, "schema": {"type": "string"}, "description": "月份 YYYY-MM"}, {"name": "event", "in": "query", "schema": {"type": "string"}, "description": "事项"}],
        "responses": {"200": {"description": "当月黄历", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeHuangliMonth"}}}}},
        "x-agent-tool": "query_huangli_month"
      }
    },
    "/api/huangli/bond/date": {
      "post": {
        "tags": ["huangli"],
        "summary": "八字合参择日",
        "description": "基于命主八字筛选单日宜忌。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"birth": {"$ref": "#/components/schemas/TimePoint"}, "event_type": {"type": "string", "description": "事项"}, "date": {"type": "string", "description": "日期 YYYY-MM-DD"}}, "required": ["birth", "event_type", "date"]}}}},
        "responses": {"200": {"description": "择日结果", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeHuangliBondDate"}}}}},
        "x-agent-tool": "query_huangli_bond_date"
      }
    },
    "/api/huangli/bond/month": {
      "post": {
        "tags": ["huangli"],
        "summary": "八字合参择月",
        "description": "基于命主八字筛选当月吉日。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"birth": {"$ref": "#/components/schemas/TimePoint"}, "event_type": {"type": "string", "description": "事项"}, "month": {"type": "string", "description": "月份 YYYY-MM"}}, "required": ["birth", "event_type", "month"]}}}},
        "responses": {"200": {"description": "择月结果", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeHuangliBondMonth"}}}}},
        "x-agent-tool": "query_huangli_bond_month"
      }
    },
    "/api/bazhai/chart": {
      "post": {
        "tags": ["fengshui"],
        "summary": "八宅风水",
        "description": "综合命卦与飞星分析。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Person"}}}},
        "responses": {"200": {"description": "八宅风水", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeBazhai"}}}}},
        "x-agent-tool": "compute_bazhai"
      }
    },
    "/api/bazhai/minggua": {
      "post": {
        "tags": ["fengshui"],
        "summary": "命卦查询",
        "description": "返回东四命/西四命 + 命卦 + 四吉四凶方。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"gender": {"$ref": "#/components/schemas/Gender"}, "birth_year": {"type": "integer", "description": "出生年份"}}, "required": ["gender", "birth_year"]}}}},
        "responses": {"200": {"description": "命卦", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeMingGua"}}}}},
        "x-agent-tool": "compute_minggua"
      }
    },
    "/api/xuankong/sanyuan": {
      "get": {
        "tags": ["fengshui"],
        "summary": "三元九运查询",
        "description": "返回当前三元九运的时间表。",
        "parameters": [{"name": "year", "in": "query", "required": true, "schema": {"type": "integer"}, "description": "年份"}],
        "responses": {"200": {"description": "三元九运", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeSanYuan"}}}}},
        "x-agent-tool": "compute_sanyuan_yun"
      }
    },
    "/api/xuankong/chart": {
      "post": {
        "tags": ["fengshui"],
        "summary": "玄空飞星",
        "description": "返回山向飞星盘。sit_mountain/face_mountain 为坐向（0-23）。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"birth": {"$ref": "#/components/schemas/TimePoint"}, "sit_mountain": {"type": "integer", "minimum": 0, "maximum": 23, "description": "山向"}, "face_mountain": {"type": "integer", "minimum": 0, "maximum": 23, "description": "朝向"}}, "required": ["birth", "sit_mountain", "face_mountain"]}}}},
        "responses": {"200": {"description": "玄空飞星盘", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeXuanKong"}}}}},
        "x-agent-tool": "compute_xuankong"
      }
    },
    "/api/liuyao/chart": {
      "post": {
        "tags": ["liuyao"],
        "summary": "六爻起卦",
        "description": "返回六爻卦象、六亲、六兽、用神分析、断卦。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"birth": {"$ref": "#/components/schemas/TimePoint"}, "yong_shen": {"type": "string", "description": "用神六亲（如 妻财/官鬼/父母/兄弟/子孙），可选"}, "fixed": {"type": "integer", "minimum": 0, "maximum": 5, "description": "固定爻位（0-5），可选"}}, "required": ["birth"]}}}},
        "responses": {"200": {"description": "六爻卦象", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeLiuyao"}}}}},
        "x-agent-tool": "compute_liuyao"
      }
    },
    "/api/agent/chat": {
      "post": {
        "tags": ["agent"],
        "summary": "AI 对话（SSE）",
        "description": "流式对话接口，返回 SSE 事件流。事件类型：text-delta/phase/thinking/done/error。",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string", "description": "用户消息"}, "session_id": {"type": "string", "description": "会话 ID（可选，用于续接历史）"}}, "required": ["message"]}}}},
        "responses": {"200": {"description": "SSE 事件流", "content": {"text/event-stream": {}}}}
      }
    },
    "/api/agent/greeting": {
      "get": {
        "tags": ["agent"],
        "summary": "获取欢迎语",
        "responses": {"200": {"description": "欢迎语", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeGreeting"}}}}}
      }
    },
    "/api/location": {
      "get": {
        "tags": ["agent"],
        "summary": "IP 定位",
        "description": "基于请求 IP 返回城市级地理定位（后端调用 ip-api.com）。无需参数。",
        "responses": {"200": {"description": "定位结果", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeLocation"}}}}}
      }
    },
    "/api/city": {
      "get": {
        "tags": ["agent"],
        "x-agent-tool": "query_city",
        "summary": "根据城市名查询经纬度",
        "description": "基于 Nominatim 服务查询城市经纬度。",
        "parameters": [{"name": "name", "in": "query", "required": true, "schema": {"type": "string"}, "description": "城市名称"}],
        "responses": {"200": {"description": "经纬度", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EnvelopeCity"}}}}}
      }
    }
  }
}
