---
layout: base.njk
title: Login
description: Log in to your 25 Types account.
---
<div class="max-w-md mx-auto px-6 py-20" x-data="loginPage()">
  <h1 class="text-3xl font-bold text-center mb-8" x-text="$store.locale.t('login.title')">Welcome back</h1>

  {% include "form-start.njk" %}
      <div class="form-control">
        <label class="label"><span class="label-text" x-text="$store.locale.t('login.username')">Username or Email</span></label>
        <input type="text" x-model="name" class="input input-bordered w-full" required autocomplete="username">
      </div>
      <div class="form-control">
        <label class="label"><span class="label-text" x-text="$store.locale.t('login.password')">Password</span></label>
        <div class="relative">
          <input :type="showPw ? 'text' : 'password'" x-model="password" class="input input-bordered w-full pr-10" required autocomplete="current-password">
          {% include "pw-toggle.njk" %}
        </div>
      </div>
      <div class="text-right">
        <a href="/{{ site.locale }}/forgot-password" class="text-xs link link-hover" x-text="$store.locale.t('login.forgot')">Forgot password?</a>
      </div>
      {% set labelKey = 'login.submit' %}{% include "submit-button.njk" %}
{% include "form-end.njk" %}

  <p class="text-center text-base text-base-content/60 mt-6">
    <span x-text="$store.locale.t('login.noAccount')">Don't have an account?</span> <a href="/{{ site.locale }}/register" class="link link-primary" x-text="$store.locale.t('login.createAccount')">Create one</a>
  </p>
</div>

{% block pageScripts %}
<script src="/js/login.js"></script>
{% endblock %}
