<div class="chart-container {{ chartCls | default('chart-h-320') }}" {% if dynamicId %}:id="{{ id }}"{% else %}id="{{ id }}"{% endif %} role="img"{% if ariaLabel %} aria-label="{{ ariaLabel }}"{% endif %}></div>
